.App {
  text-align: center;
}

.mainHeading {
  position: relative;
  left: 45%;
  margin: 10px;
}

.markDownParagraph {
  margin: 5%;
  word-break: break-all;
}

.selected {
  background-color: lightgrey;
}

.myDiv {
  position: absolute;
  width: 90%;
  bottom: 10px;
  left: 5%;
  border: 2px solid black;
}

.mainDiv {
  position: absolute;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  border: 2px solid black;
}

.textBox {
  height: 100px;
  width: 100%;
  border: 0;
  border-style: none;
  outline: none;
}

.buttonDiv {
  margin: 5px;
  color: white;
}

.button {
  background-color: white;
}

.buttonWrapper {
  display: flex;
  position: relative;
}
